/* Teaching.css */

.grid-item-1 {
    background-color: #0513d4;
  }
  
  .grid-item-2 {
    background-color: #025a02;
  }
  
  .grid-item-3 {
    background-color: #a30505;
  }
  
  .grid-item-4 {
    background-color: #9b5959;
  }
  
  .grid-item-5 {
    background-color: #81a305;
  }
  
  .grid-item-6 {
    background-color: #7926d8;
  }
  
  .grid-item {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 200px 300px 400px;
    grid-gap: 40px;
    justify-items: stretch;
    align-items: stretch;
  }
  
  .grid-item-1 {
    align-self: start;
    

  }
  