@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,400;1,900&display=swap");

.autoTextAnimation {
  margin: 4em;
  text-align: center;
}

.district {
  font-size: 2em;
  text-decoration: underline;
  color: green;
  font-weight: bolder;
  
}

.container{
    margin-bottom: 1.5rem;
}

.container h1 {
  font-size: 2.8em;
  padding: 1.5em;
  border-radius:10%;
  color: rgb(22, 22, 22);
  color:blue;
  text-decoration:wavy;
  background-color: white;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  .autoTextAnimation {
    font-size: 1.2em;
  }

  .district {
    font-size: 1.5em;
  }

  .container h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .autoTextAnimation {
    font-size: 1.4em;
  }

  .district {
    font-size: 1.2em;
  }

  .container h1 {
    font-size: 1.5em;
  }
}
