@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,400;1,900&display=swap");

.autoTextAnimation {
  margin: 2em;
  text-align: center;
}

.district {
  font-size: 2em;
  text-decoration: underline;
  color: green;
  font-weight: bolder;
}

.container {
  margin-bottom: 1.5rem;
}

.container h1 {
  font-size: 2.8em;
  padding: 1.5em;
  border-radius: 10%;
  color: blue;
  text-decoration: wavy;
  line-height: 1.5em;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius:50px;
  box-shadow: 1px 0 100px 1px  purple;
}

/* Tablet View */
@media (max-width: 768px) {
  .autoTextAnimation {
    margin: 1.5em;
  }

  .district {
    font-size: 1.5em;
  }

  .container h1 {
    font-size: 2em;
    padding: 1em;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .autoTextAnimation {
    margin: 1em;
  }

  .district {
    font-size: 1.2em;
  }

  .container h1 {
    font-size: 1.5em;
    padding: 0.5em;
  }
}
